* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background: rgb(94 85 104);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
}
header {
  height: 5vh;
  width: 100vw;
  text-align: center;
}
h1 {
  line-height: 5vh;
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
}
#game-screen {
  background: url(/images/cityscape06.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 320px;
  height: 220px;
  margin: 0 auto;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 2%;
  box-shadow: 0px 3px 8px 2px inset;
  overflow: hidden;
}
#character {
  background: url(images/ninja-sticker.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 60px;
  position: relative;
  top: 160px;
  left: 20px;
}
.animate {
  animation: jump 500ms;
}
@keyframes jump {
  0% {
    top: 160px;
  }
  10% {
    top: 135px;
  }
  20% {
    top: 110px;
  }
  30% {
    top: 85px;
  }
  40% {
    top: 60px;
  }
  50% {
    top: 60px;
  }
  60% {
    top: 60px;
  }
  70% {
    top: 85px;
  }
  80% {
    top: 110px;
  }
  90% {
    top: 135px;
  }
  100% {
    top: 160px;
  }
}
#enemy {
  width: 20px;
  height: 40px;
  background: url(images/red-skull-sticker-edit.png);
  background-size: 100% 100%;
  position: relative;
  top: 114px;
  left: 260px;
  animation: block 3s infinite linear;
}
@keyframes block {
  0% {
    left: 340px;
  }
  40% {
    left: 270px;
  }
  100% {
    left: -20px;
  }
}
#controller {
  width: 100%;
  height: 30vh;
  background: rgb(226 211 192);
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

#controller-x-pad {
  background: url(images/gameboy-x-pad.png);
  background-size: cover;
  height: 100px;
  width: 100px;
  margin: 20px 0 20px 20px;
  cursor: pointer;
}
#start-button {
  border: 3px solid rgb(139, 139, 139);
  border-radius: 5px;
  height: 20px;
  width: 40px;
  margin-top: 40px;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  line-height: 14px;
  cursor: pointer;
}
#controller-button-2 {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 38px 30px 0 0;
  background: url(images/gameboy-button.png);
  background-size: 100% 100%;
  cursor: pointer;
}
audio {
  height: 30px;
  width: 23px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 10px;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  line-height: 14px;
  cursor: pointer;
}
.music-tag {
  height: 20px;
  width: 100px;
  position: fixed;
  bottom: 0;
  left: 130px;
  right: 0;
  margin: 0 auto;
  border: 3px solid rgb(139, 139, 139);
  border-radius: 5px;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  line-height: 14px;
}

